<li class="song-list">
    <div class="song-num">
        <p><%= "#" + song.rank %> </p>
        <span><%= "(" + song.streams + " streams)" %> </span>
    </div>
    <div class="song-info">
        <h4><%= song.title %></h4>
        <p><%= "by " + song.artist %></p>
        <span><%= "publication date " +song.publicationDate %></span>
    </div>

</li>