<%- include( '../partials/bookHeader') %>

<body class="book-body">

    <div class="book-container">


        <div class="book-image">
            <img src="<%= currentBook.imgUrl%>" alt="">
        </div>

        <div class="book-info">
            <h4>Book <%= currentBook.id %></h4>
            <h1> <%= currentBook.title %> </h1>
            <h3> by <%= currentBook.author %> </h3>
            <p> <%= currentBook.description %> </p>
            <a href="/booksByGenre/<%=currentBook.type%>"><button>See more <%= currentBook.type %>
                    books</button></a>
        </div>

    </div>






</body>





<%- include( '../partials/footer') %>