<%- include( '../partials/bookHeader') %>

<body class="book-body">




    <h1 class="genre-heading"> <%= genre%> </h1>



    <div class="genre-container">

        <% selectedGenre.forEach(book => {%>

        <div class="book-cont">
            <img src="<%=book.imgUrl%>" alt="">

            <div class="genre-book-text">

                <div class="title-author">
                    <h3><%=book.title%></h3>
                    <h4><%=book.author%></h4>
                    <p><%=book.description%></p>
                </div>

                <div class="button">
                    <a href="/booksPage/<%=book.id%>">More Info</a>
                </div>





            </div>
        </div>





        <%  }) %>



    </div>



    <%- include( '../partials/footer') %>

</body>