<%- include( '../partials/header') %>

<body>

    <div class="song-container">

        <h3><%= song.title %></h3>
        <p class="muted"> <%= song.artist %> </p>
        <p class="streams"> <%= song.streams %> </p>



    </div>



</body>


<%- include( '../partials/footer') %>